@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SMSClient.Model.Department


<div class="modal fade" id="editDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        @Html.HiddenFor(m => m.Id)
        <div class="modal-content">
            <form id="editDepartmentForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update a Department</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-12">
                           @* <input asp-for="Id" class="form-control" id="userId" disabled />*@
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <label>Full Name</label>
                            <input asp-for="ShortName" class="form-control" id="shortName" type="text" autocomplete="off" />
                            <span class="text-danger" asp-validation-for="ShortName"></span>
                        </div>
                        <div class="col-6">
                            <label>User Name</label>
                            <input asp-for="LongName" class="form-control" id="longName" type="text" autocomplete="off" />
                            <span class="text-danger" asp-validation-for="LongName"></span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-6">
                            <label>Email</label>
                            <input asp-for="Email" class="form-control" id="email" type="text" autocomplete="off" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="col-6">
                            <label>Email</label>
                            <input asp-for="Phone" class="form-control" id="phone" type="text" autocomplete="off" />
                            <span class="text-danger" asp-validation-for="Phone"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="saveEditDepartment" type="submit" class="btn btn-primary">Save changes</button>
                </div>

            </form>

        </div>
    </div>

</div>


@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    $("#editDepartmentForm").on('submit', function (e) {
        e.preventDefault();
        $.validator.unobtrusive.parse('#editDepartmentForm');
        $("#editDepartmentForm").validate();

        if (!$("#editDepartmentForm").valid()) {
            $.notify("Not valid");
            return;
        }
        $("#Save").prop("disabled", true);
        $("#Save").html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        let formData = {
            id: $("#Id").val(),
            shortName: $("#shortName").val(),
            longName: $("#longName").val(),
            email: $("#email").val(),
            phone: $("#phone").val(),
        }
        console.log(formData);
        $.ajax({
            type: "POST",
            data: formData,
            url: '@Url.Action("AjaxUpdate", "Departments")',
            success: function (response) {
                if (response == true) {
                    $.notify("Department Updated Successfully", "success");
                    $("#editDepartmentModal").modal("hide");
                    location.reload();
                }
                else $.notify("Sorry some error occurred");

            },
            error: function (e) {
                $.notify(e.message);
            }
        })

    })
</script>