@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<SMSClient.Model.Student>

@if (ViewBag.AttendanceAlreadyMarked)
{
    <div class="mt-5 text-center">
        <h4>Attendance already taken today!</h4>
    </div>
}
else
{
    <h4>Mark attendance for today</h4>

    @(
    Html.DevExtreme().DataGrid<SMSClient.Model.Student>().DataSource(Model, "Id").ID("attendanceCreateDataGrid").Selection(s =>
    {
        s.Mode(SelectionMode.Multiple);
    }).Columns(c =>
    {
        c.AddFor(m => m.FirstName);
        c.AddFor(m => m.LastName);
        c.AddFor(m => m.Email);

        c.Add().MinWidth(150).Type(GridCommandColumnType.Selection).Caption("Hello");
    }).OnSelectionChanged("addSelectedStudents").OnCellPrepared("setLabelToCheckBox")
    )

    <div style="display: flex; justify-content: flex-end; margin-top: 15px">
        @Html.DevExtreme().Button().OnClick("addAttendanceRecord").Text("Add Attendance")
    </div>


    <script>
        var selectedStudents;
        function setLabelToCheckBox(e) {
            if (e.rowType === 'header' && e.column.command == "select") {
                var commandCell = e.cellElement;
                commandCell.html("Mark Attendance");
            }
        }

        function addSelectedStudents(selectedItems) {
            selectedStudents = selectedItems.selectedRowKeys;
            console.log(selectedStudents);
        }

        function addAttendanceRecord() {
            $.ajax({
                url: '@Url.Action("CreateAttendance", "Attendances")',
                type: "POST",
                data: { studentIds: selectedStudents },
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        $.notify(response.message, "success");
                        window.location.href = '@Url.Action("Index")';
                    }
                    else {
                        $.notify(response.message);
                    }
                },
                error: function (e) {
                    $.notify(e.message);
                }
            })
        }
    </script>
}

